* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color-secondary: #ffffff;
    --color-primary: #000000;
    --color-square-uno: #A2D39B;
    --color-square-due:  #61082b;
    --color-square-tre: #0093ce;
    --color-square-quattro: #ff1c1c;
    --color-square-cinque: #d5001f;
    --color-square-header: #b4d0e7;
    --color-square-sette: #0d2481;
    --color-square-otto: #ffd830;
    --color-square-big: #f5f5f5;
    --color-button: #0061ff;

}
body {
    font-family: "gg sans","Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
html {
    scroll-behavior: smooth;

}


/* flex reference */
.flex {
    display: flex;
}
.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}
.f-center{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
        }
.f-center-main{
    display: flex;
    justify-content: center;
    align-items: center;
     align-content: center;
                }
 .f-start{
     display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start
        }
 .space-between {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-between;
 } 
 .space-between-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-between;
    flex-wrap: wrap;
 }   
.column-flex {
     display: flex;
     flex-direction: column;
        }
.c-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
        }
.reverse{
   display: flex;
   flex-flow: row-reverse;
        }
.f-end{
     display: flex;
     justify-content: flex-start;
     align-items: flex-start;
     align-content: flex-start
}
.wrap {
    flex-wrap: wrap;
}
.space-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
}

/* Header */
.container {
    max-width: 1200px;
    margin: 0 auto;
    margin-left: 250px;
    
}
.first-size-header {
    width: 30%;
    padding: 0;
}
.seconds-size-header {
    width: 40%;
}

.button {
       background-color: var(--color-secondary);
        text-align: center;
        padding: 0 10px;
        padding-bottom: 2px;
        border: none;
        font-size: 1.2em;
      }
.button-blue {
    color: var(--color-secondary);
    background-color: var(--color-button);
}      
.second-size-header > div > a {
   text-decoration: none;
   padding: 10px 10px;
   color: rgba(0, 0, 0, 0.8);
   
   
}
.logo {
    width: 15vh;
    margin-top: 8px;
}
ul#menu {
	margin-top:5px;
	padding: 0;
	list-style: none;
}

ul#menu li {
	margin:0;
	padding:0;
	float:left;
	display: block;
	position: relative;
}

ul#menu li a {
	float: left;
	padding:10px 10px;
	text-decoration:none;
    color: rgba(0, 0, 0, 0.8);

}

ul#menu li a:hover {
	background: var(--color-secondary);
}

ul#menu ul {
	margin:2px 0 0;
	padding:0;
    padding-left: 10px;
	display:inline-block;
	list-style: none;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 38px;
	left: 0;
	z-index:9999;
	background:  var(--color-square-cinque);
}

ul#menu li:hover ul {
	opacity: 1;
	visibility: visible;
}

ul#menu ul li {
	float: none;
	display: block;
	border: 0;
}

ul#menu ul a {
	padding:10px;
	width: 130px;
	display: block;
	white-space: nowrap;
	float: none;
	text-transform: none;
}

ul#menu ul a:hover {
	color:var(--color-square-cinque);
}
nav{
    background-color: var(--color-secondary);
}
header {
    background-color: var(--color-square-header);
}
.jumbo {
    width: 100%;
    display: block;
 
}
h1 {
    font-size:4.5em;
    margin-bottom: 30px;
    font-size: bold;
}
.size {
    width: 100%;
}

.image-section {
    width: 65%;
    margin-right: 50px;
}
.paragraph {
    margin-right: 20px;
    width: 35%;
}
.button-header-second {
    width: 180px;
    display: block;
    margin-top: 10px;
    padding: 8px;
    border: none;
}
.button-bg-trasp {
    background-color: var(--color-square-header);
}
.fa-arrow-down {
    font-size: 2.5em;
    margin-top: 10px;
}
.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--color-secondary);
    padding: 5px;
    box-shadow: 1px 3px 3px #666;
}
.position-header{
    padding-top: 50px;
    position: relative;
    bottom: -70px;
}


h2 {
    font-size: 2.5em;
    margin-bottom: 40px;
}

input:hover {
    cursor: pointer;
}
label  {
    margin-right: 30px;
}

.first-section-facture {
    width: calc(100% / 3 - 70);
    border: 1px solid  #666;
    margin-top: 40px;
    margin-right: 35px;
    padding: 10px;
    height: 900px;

}
.omino {
    text-align: center;
    border-bottom: 1px solid #666;
    padding: 5px 0;
}


.margin-left {
    margin-left: 10px;
}
.margin-bottom {
    margin-bottom: 20px;
    color: lightgrey;
}
h3 {
   font-size: 1.5em;
   margin: 20px 0;
   margin-left: 10px;
}
span,  p {
    padding: 10px;
}
.acquista-ora {
    color: var(--color-button);
    text-decoration: underline;
}
.button-gratis {
       width: 200px;
        background-color: var(--color-button);
        padding: 10px;
         display: block;
         margin-left: 20px;
         border: none;
         margin-top: 30px;
         color: var(--color-secondary);
}
.border-bottom {
    margin: 30px 0px 10px 20px;
    padding: 0;
}
hr {
    width: 60px;
    color: rgba(0, 0, 0, 0.2);
    margin: 20px 0px 30px 30px;
}
h4 {
    margin: 0px 0px 30px  17px;
   }
.punti-salienti {
    margin: 20px 0px 0px 10px;
}
.fa-check {
    color: var(--color-button);
}
.radiobox {
    margin: 30px 0;
}
.container-section {
    max-width:  800px;
    margin: 0 auto;
}
.section-team {
    border: 1px solid rgba(0, 0, 0, 0.5);
    width: 100%;
    margin-top: 40px;
}
.omino-section-team {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 5px;
}
.section-vendite {
    padding: 20px;
}
.margin-top {
    margin-top: 150px;
}
.button-vendite {
    width: 200px;
    background-color: var(--color-button);
    padding: 10px;
    margin-top: 20px;
    margin-right: 20px;
     display: block;
     border: none;
     color: var(--color-secondary);
   }
h5 {
    margin-left: 8px;
    margin-bottom: 50px;
}
.section-partner {
    width: 100%;
    margin-top: 100px;
}
.logo-partner {
    width: 70vh;
}
.paragraph-partner {
    width: 40%;
   margin-top: 10px;
   margin-bottom: 20px;
    margin-left: 40px;
}
.section-logo-partner {
    width: 60%;
}
.trova-un-partner {
    width: 150px;
    padding: 10px;
    background-color: var(--color-secondary);
    margin-top: 20px;
    margin-left: 10px;
}
.text-indent {
    text-indent: -0.5em;
}
.section-operation {
    width: 100%;
    margin-top: 30px;
}
.calc-section-operation {
    width: calc(100% / 3 - 25px);
    margin-bottom: 20px;
}
.logo-operation {
    width: 40vh;
}
.title-operation{
    margin-top: 100px;
}
.section-business {
    padding: 100px 0px 50px 0px;
}
.scopri {
    color: var(--color-button);
    text-decoration: underline;
    padding: 0;
}
.section-square {
    width: 100%;
    margin-top: 50px;
}

.big-square {
    width: calc(100% / 3);
    height: 60vh;
}
.little-square {
    width: 50%;
    height: 50%;
    position: relative;
}
.square-uno {
    background-color: var(--color-square-uno);
}
.square-due {
   
    background-color: var(--color-square-due);
}
.square-tre {
    background-color: var(--color-square-tre);
}
.square-quattro {
    background-color: var(--color-square-quattro);
}
.logo-square {
    width: 30px;
}
.square-big {
    background-color: var(--color-square-big);
    overflow-y: auto;
}
.section-square-big {
    width: calc(100% / 2 );
}
.square-cinque {
    background-color: var(--color-square-cinque);
}
.square-sei {
    background-color: var(--color-square-header);
}
.square-sette {
    background-color: var(--color-square-sette);
}
.square-otto {
    background-color: var(--color-square-otto);
}

.logo-brand  {
    width: 15vh;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: auto;
    
}


.logo-brand-big {
    width: 25vh;
    margin: 30px 30px;    
}
.paragraph-square {
    margin: 0px 30px 30px 25px ;
}
#Morten {
    margin-left: 25px;
}
.prova-gratuita {
    width: 100%;
    background-color: var(--color-square-header);
}
.button-prova-gratuita {
    display: block;
    width: 200px;
  background-color: var(--color-secondary);
  padding: 10px;
}
.size-gratuita {
    width: 65%;
}
.size-gratuita-due {
    width: 35%;
} 
#title-prova {
    color: #6A172B;
}
.prova-gratuita {
    padding: 100px;
}
#frequenti {
    margin-top: 100px;
    font-size: 2em;
    margin-bottom: 50px;
    padding: 0;
}
.lorem {
    display: none;
}
.padding-20 {
    padding: 20px 0;
    border-top: 1px solid #666;
}
.fa-chevron-down {
    margin-left: 150px;
}

footer {
    background-color: #000000;
}
.container-footer {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
}
.black {
   background-color: var(--color-primary);
   padding: 50px 0;
}
 .li-footer > li > a {
    color: var(--color-secondary);
    padding: 20px 0;
    text-decoration: none;
    font-size: 0.8em;
}
.li-footer{
    margin-left: 50px;
}
.li-footer > li{
    padding: 10px;
}
nav li a {
    color: var(--color-secondary);
}
ul > h4 {
    color: var(--color-secondary);
}

.txt-lightgrey {
    color: lightgrey;
    margin-left: 10px;
   padding: 30px 0px;
}
.border-top {
    border-top: 1px solid white;

}

li a:hover {
    color: var(--color-square-cinque);
}