* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color-secondary: #ffffff;
    --color-primary: #000000;
    --color-square-uno: #A2D39B;
    --color-square-due:  #61082b;
    --color-square-tre: #0093ce;
    --color-square-quattro: #ff1c1c;
    --color-square-cinque: #d5001f;
    --color-square-header: #b4d0e7;
    --color-square-sette: #0d2481;
    --color-square-otto: #ffd830;
    --color-square-big: #f5f5f5;
    --color-button: #0061ff;

}
body {
    font-family: "gg sans","Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

/* flex reference */
.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.f-center{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
        }
 .f-start{
     display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center
        }
.column-flex {
     display: flex;
     flex-direction: column;
        }
.c-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
        }
.reverse{
   display: flex;
   flex-flow: row-reverse;
        }
.wrap {
    flex-wrap: wrap;
}

/* Header */
.first-size-header {
    width: 30%;
    padding: 0;
}
.seconds-size-header {
    width: 40%;
}

.button {
       background-color: var(--color-secondary);
        text-align: center;
        padding: 0 10px;
        padding-bottom: 2px;
        border: none;
        font-size: 1.2em;
      }
.button-blue {
    color: var(--color-secondary);
    background-color: var(--color-button);
}      
a {
   text-decoration: none;
   padding: 10px 10px;
   color: var(--color-primary);
}
.logo {
    width: 15vh;
    margin-top: 7px;
}
nav{
    padding: 10px;
    background-color: var(--color-secondary);
}
header {
    background-color: var(--color-square-header);
    height: 550px;
}
.jumbo {
    width: 80vh;
}
h1 {
    font-size:3.5em;
    padding: 30px 0;
    font-weight: 600;
}

.size-image {
    width: 100%;
}
.paragraph {
    padding: 0 20px;
}
.button-header-second {
    width: 200px;
    display: block;
    margin-top: 20px;
    padding: 8px;
    border: none;
}
.button-bg-trasp {
    background-color: var(--color-square-header);
}
.fa-arrow-down {
    font-size: 2.5em;
    margin-top: 30px;
}